*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    
}
:root{
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);

    
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    margin: auto;
    display: block;
}
li{
    list-style: none;
}
p,li{
    font-weight: 300;
    color: var(--GrayishBlue);
}
p{
    line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--DarkBlue);
    font-weight: 500;
}
h1{
    font-size: 2.5rem;
}
main section >*,footer section>*{
    max-width: 1100px;
    margin: auto;
}
main section:first-child{
    background: var(--white);
}
main section:nth-child(2),main section:nth-child(4){
    background: var(--VeryLightGray);
}
main section:nth-child(3){
    background: var(--LightGrayishBlue);
}

.navbar{
    display: grid;
    grid-template-columns: .5fr  1fr;
    line-height: 5rem;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
nav ul{
    display: flex;
}
nav li{
    padding: 0rem .5rem;
    margin: 0 .4rem;
    transition: all .3s ease-in;
    position: relative;
    cursor: pointer;
}
nav li:before{
    content: '';
    position: absolute;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
    width: 100%;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    height: 4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .2s ease-in-out;
}
.btn{
    background: linear-gradient(to right, var(--LimeGreen),var(--BrightCyan));
    color: var(--White);
    border-radius: 20px;
    margin: .5rem 0;
    padding: .65rem 1rem;
    font-size: .95rem;
    transition: all .2s ease-in-out;
}

.section-0{
    min-height: 70vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.section-0 header{
    display: flex;
    align-items: center;
    max-width: 75%;
}
.header >*{
    margin: 2rem 0;
}
.background{
    background: url(images/bg-intro-desktop.svg) no-repeat left center;
    background-size: 110%;
    display: block;
}
.throu-back{
    position: absolute;
    top: 5rem;
    right: -120px;
    width: 60vw;
    height: 100%;
    background: url(images/image-mockups.png) no-repeat center center;
    background-size: 70%;
}
.section-1{
    padding: 5rem 0;
}
.section-1 .main-1{
    padding: 2rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}
.main-1 img{
    display: inline;
}
.main-1 article >*{
    padding: .5rem 0;
}
.section-1-title{
    max-width: 50%;
}
.section-1-title >*{
    padding: 1rem 0;
}

.section-2{
    padding: 5rem 0;
}
.section-2 .main-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
}

.image-text{
    background: var(--White);
    padding: 2rem;
}
.image-text h4{
    padding: .5rem 0;
}
.image-text p:first-child{
    font-size: .85rem;
}
.section-2-title{
    padding: 2.5rem 0;
}
.section-2 h4{
    cursor: pointer;
    transition: all .25s ease;
}
footer{
    background: var(--DarkBlue);
}
footer section{
    padding: 0 2rem;
}
.footer-logo{
    
    height: 100%;
    
}
footer img{
    color: white;
    background: white;
    display: inline-block;
    transform: translateX(500px);
}
.inner-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-width: 80%;
    padding-right: 2rem;
    margin: auto;
}
.footer-logo img{
    transform: translate(-30%,-100%);
}
footer .social{
    display: flex;
}
footer .social >*{
    padding: 0 .4rem;
}
.footer-conatiner{
    padding: 3rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}
footer li{
    padding: .4rem 0;
}

footer li, footer .social a{
    transition: all .2s ease;
    
}
footer .social a{
    color: var(--White);
    font-size: 1.1rem;
}
.footer-btn{
    justify-self: flex-end;
}
.footer-btn >*{
    margin: 1.5rem 0;
}


    /*hover*/
@media(min-width : 901px){
    nav li:hover{
        color: var(--DarkBlue);
    }
    nav li:hover::before{
        transform: scaleX(1);
    }
    .btn:hover{
        opacity: .8;
    }
    .section-2 h4:hover{
        color: var(--BrightCyan);
    }
    footer li:hover, footer .social a:hover{
        color: var(--LimeGreen);
    }
    .background-mobile{
        display: none;
    }
    
}



@media (max-width : 900px){
    .section-2 .main-2,.section-1 .main-1{
        grid-template-columns: repeat(2,1fr);
    }
    main section{
        padding: 2rem;
    }
    nav{
        position: absolute;
        flex-direction: column;
        top: 5rem;
        background: var(--White);
        border-radius: 7px;
        left: 2rem;
        right: 2rem;
        transition: all .3s ease;
        transform: translateY(-500px);
        
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
    }
    nav li{
        height: 3.5rem;
        color: var(--DarkBlue);
        
    }
    .navbar{
        grid-template-columns: 1fr 1fr;  
    }
    nav .btn{
        display: none;
    }
    
    .navbar-logo{
        transform: translateY(-50%);
    }
    .section-1{
        text-align: center;
    }
    .section-1-title{
        max-width: 100%;
        padding: 1rem 0;
    }
    .section-2{
        text-align: center;
    }
    .hamburger{
        position: absolute;
        top: 23px;
        right: 30px;
        width: 28px;
        height: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .hamburger > *{
        width: 100%;
        height: 2px;
        background: var(--DarkBlue);
        margin: .1rem 0;
        border-radius: 1px;
    }
    .line-1,.line-2,.line-3{
        transition: all .2s ease-in;
    }
    .shadow{
        box-shadow: 00px 200px 200px 100px rgb(46, 44, 44,.5);
        transition: all .3s ease-in-out;
    }
    .section-0{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .section-0 header{
        max-width: 90%;
        margin: auto;
        text-align: center;
    }
    .header{
        margin: 0rem 0;
    }
    .background{
        display: none;
    }
    .background-mobile{
        background: url(images/bg-intro-mobile.svg) no-repeat left center/contain;
        background-size: 100%;

        height: 40vh;
        display: block;
        grid-row: 1;
    }
    .throu-back{
        position: absolute;
        top: 0rem;
        right: 90px;
        width: 70vw;
        height: 100%;
        background-size: 80%;
    }
    

    
}
@media (max-width : 650px){
    .section-2 .main-2,.section-1 .main-1{
        grid-template-columns: 1fr;
    }
    .footer-conatiner{
        padding: 2rem 0;
        margin: 1rem 0;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .footer-conatiner >*{
        justify-self: center;
        align-self: center;
        text-align: center;
    }
    .footer-logo{
       margin-bottom: 3rem;
    }
    .footer-btn{
        margin-top: 3rem ;
    }
    .navbar{
        grid-template-columns: 1fr;
        
    }
    .throu-back{
        position: absolute;
        top: -4rem;
        right: 50px;
        width: 70vw;
        height: 100%;
        background-size: 90%;
    }
    
}

.down{
    transform: translate(0px);
}
.rotate1{
    transform: rotate(135deg) translate(0px,4px);
}
.rotate2{
    transform: rotate(-135deg) translate(7px,3px);
}
.hide{
    display: none;
}
.appear{
    display: block;
}
